@font-face {
  font-family: OpenSans;
  src: url( fonts/OpenSans-Regular.ttf.),
       url(fonts/OpenSans-Regular.woff),
       url(fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Bold.ttf),
       url(fonts/OpenSans-Bold.woff),
       url(fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

*{
	margin:0;
	padding:0;
}

body{
	display: block;
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: OpenSans, Arial, sans-serif;
}

h1,
h2,
h3 {
text-transform:uppercase;	
}

a{
	text-decoration: none;
}

.header-page{
	background-image: url("../images/football_767.jpg");
	width: 100vw;

}


.container {
	display: flex;
	flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a0e34;
}

.container::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.header-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 87.5vw;
  margin-top: 10.62vw;
  margin-right: 6.25vw;
  margin-bottom: 26.25vw;
  margin-left:6.25vw;
}

svg{
	fill: #ffffff;
}

.logo{
	width: 41vw;
	margin-left: auto;
	margin-right: auto;
}

.logo-svg:hover {
    fill: #5a25f4;

}

.logo-header {
margin-bottom: 38vw;
margin-top: 0;	
}

.header-title{
	margin: 0;
	font-size: 8.7vw;
	color:#ffffff;
    letter-spacing: 1px;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform:uppercase;
    margin-bottom: 25vw;
}

.header-title1{
	margin-bottom: 5vw;
}

.header-title2{
	margin-left: 14vw;
}



.download {
	display: flex;
	flex-wrap: wrap;

}

.download-button{
	display: flex;
	background-color: #5e42b0;
	width:100%;
	height: 11vw;
	border-radius: 38px;
	border-width: 0;
	margin-bottom: 3.75vw;
}

.download-button:hover{
	background-color: #7c54f0;
}

.container-button{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.icon-button{
	width: 7.8vw;
	height:7.8vw;
}

.button-text{
	margin-top:auto;
	margin-bottom:auto;
	font-size: 2.5vw;
	margin-left:3vw; 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #ffffff;
	text-transform: uppercase;
}

.button-text-second{
	font-weight: 700; 
}

.main{
	position: relative;

	width: 100vw;
}

@media(max-width:640px){
.list-card:nth-child(3n+1) .card-content {
	padding-top:26.25vw;
}
.footer-page{
	background-position: -44vw;
}

}

.list-card:nth-child(3n+3) .text-section{
	color:#ffffff;
}

.list-card:nth-child(3n+3) .number-card::after{
background-color: #ffffff;
}

.players .list-card:nth-child(3n+3) .number-card{
	color: #8765dd;
}

.text-section{
	margin-top: 7.81vw;
}

.card-content{
	margin-left: 6.25vw;
	margin-right: 6.25vw;
	padding-top:18.75vw;
	padding-bottom: 15.62vw;
}

.title-section{
	position: relative;
	margin-top: 3.1vw;
	padding-left: 6.25vw;
	margin-bottom: 76.56vw;
	font-size: 15.62vw;
	color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
}
 
.title-section::after{
	content: "";
	position: absolute;
	width: 60vw;
	height: 87.81vw;
	z-index: 1;
    background-image: url("../images/footballer_192.png");
    background-position: center center;
    background-size: cover;
	background-repeat: no-repeat;
	top: 25vw;
	left: calc(50% - 60vw/2);
	
}


.players .title-section::after{
	width:98vw;
	left:0;
	right: 0;
	background-size: contain;
	background-image: url("../images/basketballer_302.png");
}

.title-card a{
	position: relative;
	font-size:7.18vw;
	padding-left:8.12vw;
	color: #c1c1c1;
    font-family: "Open Sans";
    font-weight: 700;
}

.number-card{
	position: absolute;
	color: #000000;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 4.37vw;
}

.number-card::after {
	content: "";
	display: block;
	width: 4.68vw;
height: 1.25vw;
border-radius: 0.31vw;
background-color: #5e42b0;
	
  }

  .motivation-cards .number-card{
	  color: #ffffff;
	  background-color:  #5e42b0;
	  padding: 8.2vw 8.2vw 6.87vw 8.2vw;
	  top:-29.68vw;
  }

  .motivation-cards .number-card.number-card::after{
	  background-color: #8f7bc8;
  }




.list-card:nth-child(3n+1){
	background-color: #fafafa;
}

.list-card:nth-child(3n+2) {
	background-color: #f5f4f9;
}

.athlets .list-card:nth-child(3n+3){
	background-color: #5e42b0;
}

.players .list-card:nth-child(3n+3){
	background-color: #090c35;
}

.img-motivation{
	max-width:100vw;
	height: auto;
}



.discription-motivation{
	position: relative;
	margin-top: 11.25vw;
	margin-left:6.25vw;
	margin-right:6.25vw; 
	margin-bottom: 20.31vw;
}

.title-motivation{
	font-size:8.75vw;
	color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
}

.text-section{
	font-size:4.68vw;
	color: #000000;
    font-family: "Open Sans";
    font-weight: 400;

}

.motivation-text{
	font-size:5vw;


}

.footer-page{
	background-image: url("../images/game_767.jpg");
	width: 100vw;

}

.footer-container{
	position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 87.5vw;
  margin-top: 10vw;
  margin-right: 6.25vw;
  margin-bottom: 26.25vw;
  margin-left:6.25vw;
}


.footer-title {
	width:100%;
	margin: 0;
	color:#ffffff;
    letter-spacing: 1px;
    font-family: "Open Sans";
    font-weight: 700;
    margin-bottom: 23.4vw;
    margin-top: 18vw;
    
}

.footer-title1 {
	margin: 0;
	font-size: 10vw;
font-family: "Open Sans";
font-weight: 700;
}

.footer-title2{
	margin: 0;
	font-size: 4.3vw;
    color: #9b8ec1;
    font-family: "Open Sans";
   font-weight: 400;

}

.logo-footer1{
	width: 18.7vw;
	padding: 15px 10px;
	background: linear-gradient(to top, #51379b, #7656d6); 
	border-radius: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 23vw;
}

.logo-footer2 {
 z-index: 2;
 margin-bottom: 3.1vw;

}

@media(min-width:641px) and (max-width:960px){

	.header-page{
		background-image: url("../images/football_1280.jpg");
	}

	.header-container{
		margin-top: 4.6vw;
		margin-bottom: 10.32vw;
	}

	.header-container .download-button{
		margin-bottom: 0;
	}

	.logo{
		width: 26.69vw;
	}

	.logo-header {
		margin-bottom: 23vw;
	}

	.header-title{
		margin-left: 7.55vw;
		font-size: 8.3vw;
		margin-bottom: 30.36vw;
	}

	.header-title1{
		margin-bottom: 0;
	}

	.download {
		display: flex;
		flex-wrap: nowrap;
		margin-left: 2.99vw;
		margin-right: 2.99vw;
}

.download-app{
	margin-right: 3.77vw;
}

.title-section{
	padding-left: 39vw;
	font-size: 10.41vw;
	margin-bottom: 0;
}

.card-content{
	margin-left: 39vw;
	padding-top: 5.2vw;
	padding-bottom: 4.2vw;
}

.title-card a{
	font-size: 4.16vw;
	padding-left: 3.9vw;
}

.number-card{
	font-size: 2.34vw;
}
.number-card::after{
	width: 2.47vw;
	height: 0.65vw;
}
.text-section{
	font-size: 2.08vw;
	line-height: 3.6vw;
	padding-right: 2.6vw;
	margin-top: 3.25vw;
}

.title-section::after{
	content: "";
	position: absolute;
	width: 45vw;
	height: 105vw;
	z-index: 1;
    background-image: url("../images/footballer_497.png");
	background-position: -20vw;
	background-size:145%;
	top:2.2vw;
	left:0;
}
	
.players .card-content{
	margin-left: 6.25vw;
	margin-right: 45vw;
}

.players .title-section{
	margin-left: 0;
	padding-left:6.25vw;
}

	.players .title-section::after{
		width: 58vw;
		height:76vw ;
		left:41.7vw;
		right: 0;
		top: -1vw;
		background-size: cover;
		background-position: center;
		background-image: url("../images/basketballer_436.png");
}

.title-motivation{
	font-size:10.41vw;
}

.motivation-cards .number-card{
	font-size: 3.12vw;
	padding: 5.92vw;
	top:-20.68vw;
}
.motivation-cards .number-card.number-card::after{
	width: 3.3vw;
}

.discription-motivation{
	margin-top: 9vw;
	margin-bottom: 12.23vw;
}

.motivation-cards .text-section{
	font-size: 3.12vw;
	padding-right: 0;
	letter-spacing: 1px;
}
 .footer-container{
	margin-top: 0;
	margin-bottom: 0;
}
 
.logo-footer1{
	margin-top: 16.9vw;
	width: 13.2vw;
}

.footer-title{
	margin-top: 6vw;
	margin-bottom: 37vw;
}

.footer-title1{
	font-size: 10.3vw;
}
.footer-title2{
	text-align: center;
}

.download-button{
	height: 9.8vw;
	margin-bottom: 8vw;
}

 .icon-button{
	width: 5.4vw;
	height: 5.4vw;
}

.button-text{
	font-size: 1.82vw;
}

}