@font-face {
  font-family: OpenSans;
  src: url( fonts/OpenSans-Regular.ttf.),
       url(fonts/OpenSans-Regular.woff),
       url(fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Bold.ttf),
       url(fonts/OpenSans-Bold.woff),
       url(fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

body{
	min-width: 320px;
	max-width: 640px;
	margin: 0;
	padding: 0;
	font-family: OpenSans, Arial, sans-serif;
}
h1,
h2,
h3 {
text-transform:uppercase;	
}


.header-page{
	background-image: url("../images/football_767.jpg");
	width: 100vw;

}


.container {
	display: flex;
	flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a0e34;
}

.container::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.header-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 87.5vw;
  margin-top: 10vw;
  margin-right: 6.25vw;
  margin-bottom: 26.25vw;
  margin-left:6.25vw;
}

svg{
	fill: #ffffff;
}

.logo{
	width: 41vw;
	margin-left: auto;
	margin-right: auto;
	

}

.logo-header {
margin-bottom: 38vw;
margin-top: 0;	
}

.header-title{
	margin: 0;
	font-size: 8.7vw;
	color:#ffffff;
    letter-spacing: 1px;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform:uppercase;
    margin-bottom: 25vw;
}

.header-title1{
	margin-bottom: 5vw;
}

.header-title2{
	margin-left: 14vw;
}



.download {
	display: flex;
	flex-wrap: wrap;

}

.download-button{
	display: flex;
	background-color: #5e42b0;
	width:100%;
	height: 11vw;
	border-radius: 38px;
	border-width: 0;
	margin-bottom: 3.75vw;
}

.container-button{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.icon-button{
	width: 7.8vw;
	height:7.8vw;
}

.button-text{
	margin-top:auto;
	margin-bottom:auto;
	font-size: 2.5vw;
	margin-left:3vw; 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #ffffff;
	text-transform: uppercase;
}

.button-text-second{
	font-weight: 700; 
}





.footer-page{
	background-image: url("../images/game_767.jpg");
	width: 100vw;

}

.footer-container{
	position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 87.5vw;
  margin-top: 10vw;
  margin-right: 6.25vw;
  margin-bottom: 26.25vw;
  margin-left:6.25vw;
}

.footer-header{
	
}



.footer-title {
	width:100%;
	margin: 0;
	color:#ffffff;
    letter-spacing: 1px;
    font-family: "Open Sans";
    font-weight: 700;
    margin-bottom: 23.4vw;
    margin-top: 18vw;
    
}

.footer-title1 {
	margin: 0;
	font-size: 10vw;
font-family: "Open Sans";
font-weight: 700;
}

.footer-title2{
	margin: 0;
	font-size: 4.3vw;
    color: #9b8ec1;
    font-family: "Open Sans";
   font-weight: 400;

}

.logo-footer1{
	width: 18.7vw;
	padding: 15px 10px;
	background: #5e42b0; 
	border-radius: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 31vw;
}

.logo-footer2 {
 z-index: 2;

}


